/** Created by TTF.in.ua **/
@font-face {
    font-family: 'Minion';
    src: url('MinionCyr-Regular-Regular.eot');
    src: url('MinionCyr-Regular-Regular.eot?#iefix') format('embedded-opentype'),
         url('MinionCyr-Regular-Regular.woff') format('woff'),
         url('MinionCyr-Regular-Regular.ttf') format('truetype'),
         url('MinionCyr-Regular-Regular.svg#MinionCyr-Regular-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}