/** Created by TTF.in.ua **/
@font-face {
    font-family: 'Minion';
    src: url('Minion-Cyrillic-Regular.eot');
    src: url('Minion-Cyrillic-Regular.eot?#iefix') format('embedded-opentype'),
         url('Minion-Cyrillic-Regular.woff') format('woff'),
         url('Minion-Cyrillic-Regular.ttf') format('truetype'),
         url('Minion-Cyrillic-Regular.svg#Minion-Cyrillic-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}